page-profile-update {

}
.cls_label{
    width: 100px;
    display: inline-table;
    text-align: left;
}
.cls_change_pass{
    color: #f68b21;
    padding-top: 15px;
}
.btn {
    padding-top: 0vh;
}
.input_info {
    background: #ffffff;
    border: solid 2px #f68b21;
    border-radius: 10px;
    background-size: 100% 100%;
    width: 64% !important;
    height: 40px;
    border: none;
    margin: 5px 0;
    padding: 10px 0;
    text-align: center;
    font-size: 15px;
    color: #000000;
}