<ion-content >
  <div class="main" text-center >
    <!-- <ion-item>
      <ion-input #email required type="text" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input #pw required type="password" placeholder="Password"></ion-input>
    </ion-item>
    <ion-button color="secondary" expand="block" (click)="login(email.value, pw.value)">Login</ion-button> -->
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="./assets/imgs/logo_usaid_chuan.png" class="head_logo"/>
        </ion-col>
        <ion-col>
          <img src="./assets/imgs/drd_logo.png" class="head_logo"/>
        </ion-col>
        <ion-col>
            <img src="./assets/imgs/undp_logo_doc.png" class="head_logo"/>
        </ion-col>
      </ion-row>
    </ion-grid>
  
  <div class="logo"><img src="./assets/imgs/icon_120.png"/></div>
    
    <div class="inputs">
      <input #email required type="text" placeholder="{{LANGUAGES.placeholderUsername[LANG]}}" value="{{user_name}}">
      <input #pw required type="password" placeholder="{{LANGUAGES.placeholderPassword[LANG]}}" value="{{password}}">
    </div>
    <div class="btn">
      <button (click)="login(email.value, pw.value)">{{LANGUAGES.btnLogin[LANG]}}</button>
      <button (click)="donotLogin()">{{LANGUAGES.btnNotAccount[LANG]}}</button>
    </div>

    <div class="dang_ky">
      <a (click)="go2Register()">{{LANGUAGES.btnRegister[LANG]}}</a>
      <a (click)="go2ForgotPass()">{{LANGUAGES.btnForgotPassword[LANG]}}</a>
    </div>

    <div class="choose_lang" *ngIf="LANG=='EN'">
      <a (click)="go2ChangeLang()">{{LANGUAGES.btnLang[LANG]}}</a>
      <img (click)="go2ChangeLang()" src="./assets/imgs/flag.png" style="height: 30px;"/>
    </div>
    <div class="choose_lang" *ngIf="LANG=='VI'">
      <a (click)="go2ChangeLang()">{{LANGUAGES.btnLang[LANG]}}</a>
      <img (click)="go2ChangeLang()" src="./assets/imgs/flagen.png" style="height: 30px;"/>
    </div>
  
  </div>

</ion-content>
