
<ion-header>

  <ion-navbar>
    <ion-title>{{LANGUAGES.TITLE[LANG]}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="main_loc" >
    <div class="content_loc">
        <div *ngIf="LOCATION">
            <div id="Title" class="loc">{{LOCATION.Title}}</div>
            <!-- <div class="star"><img src="{{STAR_URL}}" alt=""></div> -->
            <ion-grid>
              <ion-row *ngIf="LOCATION.Star =='0'">
                <ion-col><img src="./assets/imgs/star_gray.png" alt=""></ion-col>
                <ion-col><img src="./assets/imgs/star_gray.png" alt=""></ion-col>
                <ion-col><img src="./assets/imgs/star_gray.png" alt=""></ion-col>
                <ion-col><img src="./assets/imgs/star_gray.png" alt=""></ion-col>
                <ion-col><img src="./assets/imgs/star_gray.png" alt=""></ion-col>
              </ion-row>
              <ion-row *ngIf="LOCATION.Star =='1'">
                <ion-col><img src="./assets/imgs/star_yellow.png" alt=""></ion-col>
                <ion-col><img src="./assets/imgs/star_gray.png" alt=""></ion-col>
                <ion-col><img src="./assets/imgs/star_gray.png" alt=""></ion-col>
                <ion-col><img src="./assets/imgs/star_gray.png" alt=""></ion-col>
                <ion-col><img src="./assets/imgs/star_gray.png" alt=""></ion-col>
              </ion-row>
              <ion-row *ngIf="LOCATION.Star =='2'">
                <ion-col><img src="./assets/imgs/star_yellow.png" alt=""></ion-col>
                <ion-col><img src="./assets/imgs/star_yellow.png" alt=""></ion-col>
                <ion-col><img src="./assets/imgs/star_gray.png" alt=""></ion-col>
                <ion-col><img src="./assets/imgs/star_gray.png" alt=""></ion-col>
                <ion-col><img src="./assets/imgs/star_gray.png" alt=""></ion-col>
              </ion-row>
              <ion-row *ngIf="LOCATION.Star =='3'">
                <ion-col><img src="./assets/imgs/star_yellow.png" alt=""></ion-col>
                <ion-col><img src="./assets/imgs/star_yellow.png" alt=""></ion-col>
                <ion-col><img src="./assets/imgs/star_yellow.png" alt=""></ion-col>
                <ion-col><img src="./assets/imgs/star_gray.png" alt=""></ion-col>
                <ion-col><img src="./assets/imgs/star_gray.png" alt=""></ion-col>
              </ion-row>
              <ion-row *ngIf="LOCATION.Star =='4'">
                <ion-col><img src="./assets/imgs/star_yellow.png" alt=""></ion-col>
                <ion-col><img src="./assets/imgs/star_yellow.png" alt=""></ion-col>
                <ion-col><img src="./assets/imgs/star_yellow.png" alt=""></ion-col>
                <ion-col><img src="./assets/imgs/star_yellow.png" alt=""></ion-col>
                <ion-col><img src="./assets/imgs/star_gray.png" alt=""></ion-col>
              </ion-row>
              <ion-row *ngIf="LOCATION.Star =='5'">
                <ion-col><img src="./assets/imgs/star_yellow.png" alt=""></ion-col>
                <ion-col><img src="./assets/imgs/star_yellow.png" alt=""></ion-col>
                <ion-col><img src="./assets/imgs/star_yellow.png" alt=""></ion-col>
                <ion-col><img src="./assets/imgs/star_yellow.png" alt=""></ion-col>
                <ion-col><img src="./assets/imgs/star_yellow.png" alt=""></ion-col>
              </ion-row>
            </ion-grid>
            <div class="cls_address">
              <div id="Address" class="loc">{{LANGUAGES.lblAddress[LANG]}}: {{LOCATION.Address}}</div>
              <div class ="cls_help"><button (click)="go2MapRoute()" >{{LANGUAGES.btnDirect[LANG]}}</button></div>
            </div>
            <div id="Phone" class="loc">{{LANGUAGES.lblPhone[LANG]}}: {{LOCATION.Phone}}</div>
            <div *ngIf="LOCATION.Hide=='false'">
              <div id="FullName" class="loc">{{LANGUAGES.lblUser[LANG]}}: {{LOCATION.FullName}}</div>
              <div id="Level" class="loc">{{LANGUAGES.lblLevel[LANG]}}: {{LOCATION.Level}}</div>
            </div>
            <div id="Note" class="loc">{{LANGUAGES.lblNote[LANG]}}: {{LOCATION.Note}}</div>

            <div class="imformation">
              <div><strong>{{LANGUAGES.lblInformation[LANG]}}</strong></div>
              <div class="cls_type_loc"> 
                <div class="cls_name">1. {{LANGUAGES.lblGateway[LANG]}} </div>
                <div *ngIf="VALIDATIONS[0]==0" class ="cls_no"></div>
                <div *ngIf="VALIDATIONS[0]==1" class ="cls_yes"></div>
                <div *ngIf="VALIDATIONS[0]==2" class ="cls_na"></div>
              </div>

                
              <div class="cls_type_loc">
                <div class="cls_name">2. {{LANGUAGES.lblDoor[LANG]}} </div>
                <div *ngIf="VALIDATIONS[1]==0" class ="cls_no"></div>
                <div *ngIf="VALIDATIONS[1]==1" class ="cls_yes"></div>
                <div *ngIf="VALIDATIONS[1]==2" class ="cls_na"></div>
              </div>
              <div class="cls_type_loc"> 
                <div class="cls_name">3. {{LANGUAGES.lblTableWork[LANG]}} </div>
                <div *ngIf="VALIDATIONS[2]==0" class ="cls_no"></div>
                <div *ngIf="VALIDATIONS[2]==1" class ="cls_yes"></div>
                <div *ngIf="VALIDATIONS[2]==2" class ="cls_na"></div>
              </div>
              <div class="cls_type_loc">
                <div class="cls_name">4. {{LANGUAGES.lblElevator[LANG]}} </div>
                <div *ngIf="VALIDATIONS[3]==0" class ="cls_no"></div>
                <div *ngIf="VALIDATIONS[3]==1" class ="cls_yes"></div>
                <div *ngIf="VALIDATIONS[3]==2" class ="cls_na"></div>
              </div>
              <div class="cls_type_loc">
                <div class="cls_name">5. {{LANGUAGES.lblToilet[LANG]}} </div>
                <div *ngIf="VALIDATIONS[4]==0" class ="cls_no"></div>
                <div *ngIf="VALIDATIONS[4]==1" class ="cls_yes"></div>
                <div *ngIf="VALIDATIONS[4]==2" class ="cls_na"></div>
              </div>
              <div class="cls_type_loc">
                <div class="cls_name">6. {{LANGUAGES.lblParking[LANG]}} </div>
                <div *ngIf="VALIDATIONS[5]==0" class ="cls_no"></div>
                <div *ngIf="VALIDATIONS[5]==1" class ="cls_yes"></div>
                <div *ngIf="VALIDATIONS[5]==2" class ="cls_na"></div>
              </div>
            </div>
            
            <div class="cls_footer">
                <div class="cls_comment"><button (click)="go2CommentAdd()">{{LANGUAGES.btnComment[LANG]}}</button></div>
                <div class ="cls_request_edit"><button (click)="go2RequestEdit()">{{LANGUAGES.btnRequestEditing[LANG]}}</button></div>
              </div>
          </div>

          <hr>
          <h6 *ngIf="LANG=='EN'">Comment:</h6>
          <h6 *ngIf="LANG=='VI'">Bình luận:</h6>
          <!--*ngFor="let comment of Comments"-->
          <div *ngIf="!COMMENTS == undefined || COMMENTS.length == 0" class="no-comment">
              <i *ngIf="LANG=='VI'"><p>* Chưa có bình luận nào cho địa điểm này!</p></i>
              <i *ngIf="LANG=='EN'"><p>* There are not comments for this location!</p></i>
          </div>
          <div class="comment" *ngFor="let COMMENT of COMMENTS">
            <div id="massage">{{COMMENT.ContentMes}}</div>
            <div id="name"><i>{{COMMENT.Name}}</i></div>
            <div id="time"><i>{{COMMENT.Date_Comment}}</i></div>
          </div>
    </div>
  </div>
</ion-content>
