page-location-question {

}
.main{
    margin: 0px !important;
    padding: 0px !important;
}
.content_q
{
    padding: 0px !important;
}
.help_question
{
    padding:10px;
    float: right;
}
.content_question
{
    padding: 20px 10px 10px 10px;
}
.image_desc
{
    width: 90%;
    margin: 0 auto;
}
.header_question
{
    background: #f68b21;
    color: #FFFFFF;
}
.btn_question button
{
    background: #f68b21;
    background-size: 100% 100%;
    min-height: 40px;
    width: 95%;
    border-radius: 10px;
    padding: 20px;
    margin: 5px 0;
    //padding: 10px 0;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
}