page-photo-take {
    ion-icon{
        font-size: 5em;
    }
    .btn-green-photo{
        background: #71bf45;
        border-radius: 10px;
        height: 40px;
        width: 100%;
        text-align: center;
        font-size: 20px;
        color: #ffffff;
        display: inline;
        float: left;
        margin: 1%;
        text-transform: uppercase;
    }
}
