page-comment-add {

}
.inputs textarea{
    background: #ffffff;
    border: solid 2px #f68b21;
    border-radius: 10px;
    //background: transparent;
    //background-image: url('../../assets/imgs/17login.png');
    background-size: 100% 100%;
    width: 100%;
    height: 160px;
    border: none;
    margin: 5px 0;
    padding: 10px 0;
    text-align: left;
    font-size: 15px;
    color: #000000;
    
}

.comment{
    background: #ffffff;
    border: solid 2px #f68b21;
    border-radius: 10px;
    //background: transparent;
    //background-image: url('../../assets/imgs/17login.png');
    background-size: 100% 100%;
    width: 100%;
    height: auto;
    border: none;
    margin: 5px 0;
    padding: 20px;
    text-align: left;
    font-size: 15px;
    color: #000000;
}