<ion-header>
  <ion-toolbar color="login-green">
    <ion-buttons start>
      <button tappable ion-button (click)="dismiss()">
        <ion-icon color="white" name="md-close" showWhen="android"></ion-icon>
        <ion-icon color="white" name="arrow-down" showWhen="ios"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar [(ngModel)]="autocomplete2.queryFrom" [showCancelButton]="true" (ionInput)="updateSearch2From()"
      (ionCancel)="dismiss()" placeholder="Chọn điểm bắt đầu"></ion-searchbar>
    <ion-searchbar [(ngModel)]="autocomplete2.queryTo" [showCancelButton]="true" (ionInput)="updateSearch2To()"
      (ionCancel)="dismiss()" placeholder="Chọn điểm đến"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="!isFromSelected">
    <ion-item *ngFor="let item of autocompleteItems2.From" tappable (click)="chooseItem2(item, 'From')">
      {{ item }}
    </ion-item>
  </ion-list>
  <ion-list *ngIf="!isToSelected">
    <ion-item *ngFor="let item of autocompleteItems2.To" tappable (click)="chooseItem2(item, 'To')">
      {{ item }}
    </ion-item>
  </ion-list>
</ion-content>