page-information {

}
.main{
    padding-top:10px;
    background:#eeeeee;
    // background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}
.content{
    clear: both;
    padding: 10px 20px 20px 20px !important;
    text-align: justify;
}
.scroll-content
{
    background:#eeeeee;
}


