page-information {
    .head_logo {
        height: 25px !important;
        text-align: center;
    }
    .content{
        clear: both;
        padding: 10px 20px 20px 20px !important;
        text-align: justify;
    }
}
.main{
    padding-top:10px;
    background:#eeeeee;
    // background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}

.scroll-content
{
    background:#eeeeee;
}


